<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} {% endblock %} | Ikal Temazcal</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/styles.css'%}">
  </head>
  <body>
    <h1>Ikal Temazcal</h1>
    <hr />
    <ul>
      <li>
        <a href="/inicio">Inicio</a>
      </li>
      <li>
        <a href="/servicios">Servicios</a>
      </li>
      <li>
        <a href="/conocenos">Conócenos</a>
      </li>
      <li>
        <a href="/reservaciones">Reservaciones</a>
      </li>
      <li>
        <a href="/ubicacion">Ubicación</a>
      </li>
    </ul>
    <hr />
    <div id="content">
      {% block content %}
      <strong>Promociones:</strong>
      {% endblock %}
    </div>
    <hr />
    <footer>
      Ikal Temazcal <br />
      Arcilla 1673 | Col. Arenales Tapatíos | 45066 Zapopan, Jal. <br />
      33 1412 2831
    </footer>
  </body>
</html>
